{{define "view-user"}}
{{template "header" .}}
<style>
table.classy th {
	text-align: left;
}
h3 {
	font-weight: normal;
}
td.active-silence {
	display: flex;
	align-items: center;
}

td.active-silence > input[type="submit"] {
	margin-left: auto;
	margin-right: 5%;
}

@media only screen and (max-width: 500px) {
	td.active-silence {
		flex-wrap: wrap;
	}
	td.active-silence > input[type="submit"] {
		margin: auto;
	}
}
input.copy-text {
	text-align: center;
	font-size: 1.2em;
	color: #555;
	width: 100%;
	box-sizing: border-box;
}
</style>
<div class="snug content-container">
	{{template "admin-header" .}}

	<h2 id="posts-header">{{.User.Username}}</h2>
	{{if .NewPassword}}<div class="alert success">
		<p>La pasvorto de ĉi tiu uzanto estas restarigita al:</p>
		<p><input type="text" class="copy-text" value="{{.NewPassword}}" onfocus="if (this.select) this.select(); else this.setSelectionRange(0, this.value.length);" readonly /></p>
		<p>Eblas per tiu ĉi nova pasvorto ensaluti en la konto de ĉi tiu uzanto. <strong>Ĝi nur unufoje montriĝos</strong>, do atentu ke vi nun kopiu ĝin kaj sendu al la uzanto.</p>
		{{if .ClearEmail}}<p>La retpoŝtadreso estas: <a href="mailto:{{.ClearEmail}}">{{.ClearEmail}}</a></p>{{end}}
		</div>
	{{end}}
	<table class="classy export">
		<tr>
			<th>Num.</th>
			<td>{{.User.ID}}</td>
		</tr>
		<tr>
			<th>Tipo</th>
			<td>{{if .User.IsAdmin}}Admin{{else}}User{{end}}</td>
		</tr>
		<tr>
			<th>Uzantnomo</th>
			<td>{{.User.Username}}</td>
		</tr>
		<tr>
			<th>Aliĝis</th>
			<td>{{.User.Created}}</td>
		</tr>
		<tr>
			<th>Tuta kvanto da afiŝoj</th>
			<td>{{.TotalPosts}}</td>
		</tr>
		<tr>
			<th>Lasta afiŝo</th>
			<td>{{if .LastPost}}{{.LastPost}}{{else}}Neniam{{end}}</td>
		</tr>
		<tr>
			<form action="/admin/user/{{.User.Username}}/status" method="POST" {{if not .User.IsSilenced}}onsubmit="return confirmSilence()"{{end}}>
				<th><a id="status"></a>Stato</th>
				<td class="active-silence">
				{{if .User.IsSilenced}}
					<p>Silentigita</p>
					<input type="submit" value="Malsilentigi"/>
				{{else}}
					<p>Aktiva</p>
					<input class="danger" type="submit" value="Silentigi" {{if .User.IsAdmin}}disabled{{end}}/>
				{{end}}
				</td>
			</form>
		</tr>
		<tr>
			<th>Pasvorto</th>
			<td>
				{{if ne .Username .User.Username}}
				<form id="reset-form" action="/admin/user/{{.User.Username}}/passphrase" method="post" autocomplete="false">
					<input type="hidden" name="user" value="{{.User.ID}}"/>
					<button type="submit">Restarigi</button>
				</form>
				{{else}}
				<a href="/me/settings" title="Iri al la paĝo por restarigi pasvorton">Ŝanĝi vian pasvorton</a>
				{{end}}
			</td>
		</tr>
	</table>

	<h2>Blogs</h2>

	{{range .Colls}}
	<h3><a href="/{{.Alias}}/">{{.Title}}</a></h3>
	<table class="classy export">
		<tr>
			<th>Kromnomo</th>
			<td>{{.Alias}}</td>
		</tr>
		<tr>
			<th>Titolo</th>
			<td>{{.Title}}</td>
		</tr>
		<tr>
			<th>Priskribo</th>
			<td>{{.Description}}</td>
		</tr>
		<tr>
			<th>Videbleco</th>
			<td>{{.FriendlyVisibility}}</td>
		</tr>
		<tr>
			<th>Vidoj</th>
			<td>{{.Views}}</td>
		</tr>
		<tr>
			<th>Afiŝoj</th>
			<td>{{.TotalPosts}}</td>
		</tr>
		<tr>
			<th>Lasta afiŝo</th>
			<td>{{if .LastPost}}{{.LastPost}}{{else}}Neniam{{end}}</td>
		</tr>
		{{if $.Config.Federation}}
		<tr>
			<th>Federaciaj sekvantoj</th>
			<td>{{.Followers}}</td>
		</tr>
		{{end}}
	</table>
	{{end}}
</div>

<script type="text/javascript">
function confirmSilence() {
	return confirm("Ĉu silentigi ĉi tiun uzanton? Ankoraŭ eblas ensaluti kaj aliri la afiŝojn, sed neniu alia povos vidi plu la personon. Vi povas iam ajn malfari ĉi tiun decidon.");
}

	form = document.getElementById("reset-form");
	form.addEventListener('submit', function(e) {
		e.preventDefault();
		agreed = confirm("Ĉu restarigi la pasvorton de ĉi tiu uzanto? Ĉi tio kreos novan portempan pasvorton kiun vi devos konigi al la uzanto, kaj ĝi nevalidigos la malnovan.");
		if (agreed === true) {
			form.submit();
		}
	});
</script>
{{template "footer" .}}
{{end}}
