{{define "user-silenced"}}
<div class="alert info">
	<p><strong>Via konto estas silentigita.</strong> Vi ankoraŭ povas aliri ĉiujn viajn afiŝojn kaj blogojn, sed neniu alia povas nun vidi ilin.</p>
</div>
{{end}}
