{{define "invite"}}
{{template "header" .}}
<style>
.half {
	margin-right: 0.5em;
}
.half + .half {
	margin-left: 0.5em;
	margin-right: 0;
}
table.classy {
	width: 100%;
}
table.classy.export a {
	text-transform: initial;
}
table td {
	font-size: 0.86em;
}
</style>

<div class="snug content-container">
	{{if .Silenced}}
		{{template "user-silenced"}}
	{{end}}
	<h1>Inviti homojn</h1>
	<p>Invitu aliajn por aliĝi al <em>{{.SiteName}}</em> per kreado kaj havigado de invitligiloj de ĉi-malsupre.</p>

	<form style="margin: 2em 0" class="prominent" action="/api/me/invites" method="post">
		<div class="row">
			<div class="half">
				<label for="uses">Maksimuma kvanto da uzoj:</label>
				<select id="uses" name="uses" {{if .Silenced}}disabled{{end}}>
					<option value="0">Senlime</option>
					<option value="1">1 uzo</option>
					<option value="5">5 uzoj</option>
					<option value="10">10 uzoj</option>
					<option value="25">25 uzoj</option>
					<option value="50">50 uzoj</option>
					<option value="100">100 uzoj</option>
				</select>
			</div>
			<div class="half">
				<label for="expires">Eksvalidiĝas post:</label>
				<select id="expires" name="expires" {{if .Silenced}}disabled{{end}}>
					<option value="0">Neniam</option>
					<option value="30">30 minutoj</option>
					<option value="60">1 horo</option>
					<option value="360">6 horoj</option>
					<option value="720">12 horoj</option>
					<option value="1440">1 tago</option>
					<option value="4320">3 tagoj</option>
					<option value="10080">1 semajno</option>
				</select>
			</div>
		</div>
		<div class="row">
			<input type="submit" value="Krei" {{if .Silenced}}disabled title="Vi ne povas krei invitojn kiam via konto estas silentigita."{{end}} />
		</div>
	</form>

	<table class="classy export">
		<tr>
			<th>Ligilo</th>
			<th>Uzoj</th>
			<th>Eksvalidiĝas</th>
		</tr>
		{{range .Invites}}
		<tr>
			<td><a href="{{$.Host}}/invite/{{.ID}}">{{$.Host}}/invite/{{.ID}}</a></td>
			<td>{{.Uses}}{{if gt .MaxUses.Int64 0}} / {{.MaxUses.Int64}}{{end}}</td>
			<td>{{ if .Expires }}{{if .Expired}}Eksvalidiĝis{{else}}{{.ExpiresFriendly}}{{end}}{{ else }}&infin;{{ end }}</td>
		</tr>
		{{else}}
		<tr>
			<td colspan="3">Ankoraŭ ne kreis invitilojn.</td>
		</tr>
		{{end}}
	</table>

</div>

{{template "footer" .}}
{{end}}
