{{define "settings"}}
{{template "header" .}}

<style type="text/css">
.option { margin: 2em 0em; }
h3 { font-weight: normal; }
.section > *:not(input) { font-size: 0.86em; }
</style>
<div class="content-container snug regular">
	{{if .Suspended}}
		{{template "user-suspended"}}
	{{end}}
	<h2>{{if .IsLogOut}}Antaŭ ol vi iros...{{else}}Kontaj konfiguroj {{if .IsAdmin}}<a href="/admin">administaj konfiguroj</a>{{end}}{{end}}</h2>
	{{if .Flashes}}<ul class="errors">
		{{range .Flashes}}<li class="urgent">{{.}}</li>{{end}}
	</ul>{{end}}

	{{ if .IsLogOut }}
	<div class="alert info">
		<p class="introduction">Bonvolu aldoni <strong>retpoŝtadreson</strong> kaj/aŭ <strong>pasfrazon</strong> por ke vi povu reensaluti pli poste.</p>
	</div>
	{{ else }}
	<div class="option">
		<p>Vi povas ŝanĝi viajn konto-informojn ĉi tie.</p>
	</div>

	<form method="post" action="/api/me/self" autocomplete="false">
		<div class="option">
			<h3>Uzantnomo</h3>
			<div class="section">
				<input type="text" name="username" value="{{.Username}}" tabindex="1" />
				<input type="submit" value="Ĝisdatigi" style="margin-left: 1em;" />
			</div>
		</div>
	</form>
	{{ end }}

	<form method="post" action="/api/me/self" autocomplete="false">
		<input type="hidden" name="logout" value="{{.IsLogOut}}" />
		<div class="option">
			<h3>Pasfrazo</h3>
			<div class="section">
				{{if and (not .HasPass) (not .IsLogOut)}}<div class="alert info"><p>Aldonu pasfrazon por facile eniri vian konton.</p></div>{{end}}
				{{if .HasPass}}<p>Nuna pasfrazo</p>
				<input type="password" name="current-pass" placeholder="Nuna pasfrazo" tabindex="1" /> <input class="show" type="checkbox" id="show-cur-pass" /><label for="show-cur-pass"> Montri</label>
				<p>Nova pasfrazo</p>
				{{end}}
				{{if .IsLogOut}}<input type="text" value="{{.Username}}" style="display:none" />{{end}}
				<input type="password" name="new-pass" autocomplete="new-password" placeholder="Nova pasfrazo" tabindex="{{if .IsLogOut}}1{{else}}2{{end}}" /> <input class="show" type="checkbox" id="show-new-pass" /><label for="show-new-pass"> Montri</label>
			</div>
		</div>

		<div class="option">
			<h3>Retpoŝto</h3>
			<div class="section">
				{{if and (not .Email) (not .IsLogOut)}}<div class="alert info"><p>Aldonu vian retpoŝtadreson por ekhavi:</p>
				<ul>
					<li>Senpasfrazan ensalutadon</li>
					<li>Konto-rekuperadon se vi forgesis vian pasfrazon.</li>
				</ul></div>{{end}}
				<input type="email" name="email" style="letter-spacing: 1px" placeholder="Email address" value="{{.Email}}" size="40" tabindex="{{if .IsLogOut}}2{{else}}3{{end}}" />
			</div>
		</div>

		<div class="option" style="text-align: center; margin-top: 4em;">
			<input type="submit" value="Konservi ŝanĝojn" tabindex="4" />
		</div>
	</form>
</div>

<script>
var showChecks = document.querySelectorAll('input.show');
for (var i=0; i<showChecks.length; i++) {
	showChecks[i].addEventListener('click', function() {
		var prevEl = this.previousElementSibling;
		if (prevEl.type == "password") {
			prevEl.type = "text";
		} else {
			prevEl.type = "password";
		}
	});
}
</script>

{{template "footer" .}}
{{end}}
